/*FOOTER*/

footer{
    text-align: center;
    background-color: var(--GrisClaro);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.logo_usuario, .logo_regalo, .logo_tarjeta{
    font-size: 2rem;
    margin-bottom: 10px;
    color: var(--Celeste);
}

footer section{
    padding: 5px
}

footer section h4{
    margin-bottom: 1px;
}

footer section p{
    margin-top: 3px;
}

/*tablet*/
@media (min-width: 361px){
    footer{
        background-color: var(--GrisClaro);
        padding-top: 20px;
    }
    
    .logo_usuario, .logo_regalo, .logo_tarjeta{
        font-size: 2rem;
        margin-bottom: 10px;
        color: var(--Celeste);
        text-align: center;
    }
    
    footer section{
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    

}

/*desktop*/
@media (min-width: 769px){
    footer{
        background-color: var(--GrisClaro);
        padding-top: 20px;
       display: flex;
        flex-direction: row;
        justify-content: space-between;
    
    }
    footer section{
        width: 32%;
    }

    footer section h5{
        height: 50px;
        width: 100%;
        text-align: center;
    }

    

}

