.titular{
    font-size: 24px;
}


body p{
    font-size: 12px;
}

.precio{
    font-size: 18px;
}

.descuento{
    font-size: 16px;
}

.descripcion{
   font-size: 16px;
}

body{
    background-color: var(--Amarillo);
}

/*MAIN*/

.main_banner{
    width: 100%;
}

main{
    width: 100%;
    background-color: var(--GrisClaro);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;}


.main_article{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    box-sizing: border-box;
    width: 90%;
}



.main_article div i{
    color: green;
    border: 1px solid green;
    border-radius: 100%;
    padding: 2%;
    margin-top: 5px;
    position: relative;
    right: 10px;
    margin-left: 80%;
}

.main_article div{
    border-top: 1px solid #ebebeb;
    gap: 15px;
    text-align: left;
    margin-left: 5%;
    margin-top: 10px;
}

/*mobile*/
@media (max-width: 360px){
    
    .descripcion{
        display: none;
    }
    
   /* .descripcion{
        font-size: 17px;
        color: var(--GrisOscuro);
        margin: 10px 0px;
        font-weight: 100;
    }*/
    
    .precio, .descuento{
        display: inline-block;
        padding: 10px 10px;
    }
}


/*tablet*/
@media (min-width: 361px){

    .main_article{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    width: 45%;
    display: flex;
    flex-wrap: nowrap;
}


body section{
    display: flex;
    flex-wrap: wrap;
}
.compra_cuotas{
    position: relative;
}
.precio, .descuento{
    display: inline-block;
    font-size: 80%;
}

.descuento{
    margin-left: 20px;
}

.descripcion{
    font-size: 90%;
    color: var(--GrisOscuro);
    margin: 10px 0px;
    font-weight: 100;
}

 
}


/*desktop*/
@media (min-width: 769px){
    body section{
    flex: 98%;
}

.main_article{
    width:23%;
}

.main_article{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}
    
}